<div class="row nav flex-nowrap">
          <a class='col-sm' href='/'>Home</a>
          <a class='col-sm' href='/view/index'>Index</a>
          <h1 class='col-sm-6'>Team Building</h1>
          <a class='col-sm' href="/users/new"><button type="button">Register</button></a>
          <% if(currentUser) { %>
          <form class='col-sm' action="/sessions?_method=DELETE" method="POST">
            <button type="submit">Logout</button>
          </form>
          <% } else {%>
              <a class='col-sm' href="/sessions/new"><button type="button">Login</button></a>
        <% } %>
</div>
