<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <nav>
            <div>
                <a href='#'>Home</a>
                <a href='/index'>Index</a>
                <h1>Team Building</h1>
                <a href="/new"><button type="button">Register</button></a>
                <a href="#"><button type="button">Login</button></a>
            </div>
        </nav>

    </body>
</html>
