/* *{
    border: 1px solid grey;
    margin: 2px;
} */
body{
    background-color: #4d6d9a;
    /* background-color: #EDEAE5; */
    /* background-image: url('../imgs/team_table.jpg');
    background-size: 100% 50%;
    background-repeat: no-repeat; */


}
.btn{
    margin-top: 2%;
}
.btn:hover{
    background-color: #EDB5BF;
}
.form-box{
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    padding: 2% 1%;
    width: 30%;
    border: 2px solid #EDB5BF;
    border-radius: 10px;
    background-color: lightgrey;

}
.card{
    margin: 10px;
}
.nav{
    color: #9FEDD7;
    background-color: #474853;
    text-align: center;
    align-items: center;

}
footer{
    justify-content: center;
}
button{
    background-color: #86B3D1;
    border-radius: 7px;
}

.head{
    background-image: url(../imgs/team_table.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;

}
.mid1{
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    width: 50%;
    color: white;
    background-color: #86B3D1;


}
.mid2{
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    width: max-content;
    color: white;
    background-color: #86B3D1;


}
.cPost{
    border-radius: 5px;
    padding: 10px;
    /* border: 1px solid red; */
    color: #5F6366;
    background-color: azure;

}
.cPostBox{
    margin: 2% auto;
    text-align: center;
}
.gamecontainer{
    width: 70%;
    margin: 2% auto;
    border: 1px dotted #86B3D1;
    text-align: center;
}
.showlink{
    padding: 5px;

}
a{
    color: white;
}

a:hover{
    color: #EDB5BF;
    text-decoration: none;

}
button:hover{
    background-color: #EDB5BF;
}
.postcontainer{
    border: 1px solid lightgrey;
    margin: 5px;
    border-radius: 10px;
}
.topContainer{
    /* border: 1px solid lightgrey; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    /* align-items: center; */
}
.postcontainerneed{
    border: 1px solid lightgrey;
    margin: 5px;
    border-radius: 10px;
    display: flex;
}
.postcontainerbottom{
    border: 1px solid lightgrey;
    margin: 10px 5px;
    border-radius: 10px;
    padding: 1%;
    line-height: normal;
}
.editbtn{
    margin: 10px 45%;
}

 /*.mid{
     background-color: #EDEAE5;
     margin-top:10%;
     text-align: center;
 } */
